/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    
}
@media (min-width: 1200px) and (max-width: 1300px) {
   
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
   
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
#mainBodyContent .mainBodyContentHeader h1 {
    font-size: 29px;
    line-height: 35px;
}
#mainBodyContent .mainbodyContentArea .item {
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .videoArea>a {
    width: 50%;
}
#mainBodyContent .mainbodyContentArea .itemTop .right img{
    width: 100%;
    margin-bottom: 20px;
}

}


@media (max-width: 767px) {
}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

#mainBodyContent .mainbodyContentArea .videoArea>a {
    width: 82%;
}
#mainBodyContent .mainBodyContentHeader h1 {
    font-size: 28px;
    line-height: 36.1px;
}
#mainBodyContent .mainbodyContentArea .itemTop .left p {
    font-size: 17px;
    line-height: 26.8px;
}
#mainBodyContent .mainbodyContentArea .itemTop .right img{
    width: 100%;
    margin-bottom: 20px;
}
#footer .footerToparea h3 {
    font-size: 21px;
    line-height: 32.2px;
}
#mainBodyContent .mainbodyContentArea .item .imageBox3 .image{
    margin-bottom: 20px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .title h3 {
    font-size: 27px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox4 p {
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox5 p {
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox6 p {
    width: 100%;
}

#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox7 p {
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .title h3 {
    font-size: 35px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .title h4 {
    font-size: 19px;
    line-height: 29px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .quoteBox10 p {
    width: 100%;
}












}



/* Extra small Device. */
@media (max-width: 575px) {
#headerTop .headerTopContent h4 {
    font-size: 12px;
}
#mainBodyContent .mainBodyContentHeader h1 {
    font-size: 18px;
    width: 100%;
    line-height: 24px;
}
#mainBodyContent .mainBodyContentHeader h3 {
    font-size: 15px;
    width: 100%;
    margin-top: 7px;
    line-height: 21px;
}
#mainBodyContent .mainbodyContentArea .item {
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .item p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 23px;
}
#mainBodyContent .mainbodyContentArea .item .quoteBox {
    padding-left: 18px;
}
#mainBodyContent .mainbodyContentArea .item .quoteBox h5 {
    font-size: 12px;
    line-height: 19px;
}
#mainBodyContent .mainbodyContentArea .videoArea .videoBox a img {
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .videoArea>a {
    margin-top: 14px;
    width: 100%;
    padding: 16px 0px;
    font-size: 17px;
}
#mainBodyContent {
    padding: 30px 0px 50px 0px;
}
#mainBodyContent .mainbodyContentArea .itemTop .right img{
    width: 100%;
    margin-bottom: 20px;
}
#footer .footerToparea h3 {
    font-size: 19px;
    line-height: 27.2px;
}
#footer .copyrightarea p {
    font-size: 12px;
}
#footer .copyrightarea ul li a {
    font-size: 14px;
}
#footer .copyrightarea ul li {
    margin: 0px 2px;
}
#mainBodyContent .mainbodyContentArea .item .imageBox3 .content p {
    font-size: 16px;
    width: 100%;
    line-height: 25px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .title h3 {
    font-size: 25px;
    line-height: 37.1px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem h4 {
    font-size: 19px;
    margin-bottom: 15px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem p {
    font-size: 15px;
    line-height: 25.8px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox4 p {
    font-size: 16px;
    line-height: 25.8px;
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox4 {
    padding-left: 18px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox5 p{
    font-size: 16px;
    line-height: 25.8px;
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox5{
    padding-left: 18px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox6 p{
    font-size: 16px;
    line-height: 25.8px;
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox6{
    padding-left: 18px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox7 p{
    font-size: 16px;
    line-height: 25.8px;
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .takeawyItem .quoteBox7{
    padding-left: 18px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .title h3 {
    font-size: 27px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .title h4 {
    font-size: 17px;
    line-height: 26px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion p {
    font-size: 16px;
    line-height: 25.8px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion h5 {
    font-size: 17px;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .quoteBox10 p{
    font-size: 16px;
    line-height: 25.8px;
    width: 100%;
}
#mainBodyContent .mainbodyContentArea .top3TakeWay .conslusion .quoteBox10{
    padding-left: 18px;
}





}


























