@import 'import/reset.scss';
@import 'import/_color.scss';
/*-- this is for typography --*/
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-center{
    text-align: center !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.underLine{
    text-decoration: underline;
}
.noteNumber{
    font-style: italic;
    font-size: 12px;
    position: relative;
    top: -5px;
}
/*------------------------
main code start here 
-------------------------*/
/*-- start header area --*/
#headerTop{
    padding: 14px 0px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    .headerTopContent{
        h4{
            font-weight: 600;
            color: #607C8B;
            font-style: italic;
        }
    }
}
/*-- start mai body content style --*/
#mainBodyContent{
    padding: 30px 0px 100px 0px;
    background: #fff;
    .mainBodyContentHeader{
        h1{
            font-size: 40px;
            color: #CC0000;
            font-weight: 700;
            line-height: 44.1px;
        }
    }
    .mainbodyContentArea{
        margin-top: 40px;
        .itemTop{
            .left{
                p{
                    font-size: 18px;
                    color: #333333;
                    line-height: 28.8px;
                    margin-bottom: 20px;
                    span{
                        font-weight: 700;
                    }
                }
                h4{
                    font-weight: 700;
                    color: #333;
                    margin-bottom: 20px;
                }
            }
        }
        .item{
            p{
                font-size: 18px;
                color: #333333;
                line-height: 28.8px;
                margin-bottom: 20px;
                span.bold{
                    font-weight: 700;
                    margin-right: 4px;
                    color: #333;
                }
                a{
                    color: #428bca;
                    text-decoration: underline;
                }
            }
            h4{
                font-weight: 700;
                margin-bottom: 15px;
            }
            .quoteBox{
                margin-top: 25px;
                border-left: 4px solid #ddd;
                padding: 10px 0px;
                padding-left: 25px;
                margin-bottom: 25px;
                h5{
                    font-size: 18px;
                    font-style: italic;
                    font-weight: 700;
                    line-height: 24.5px;
                    color: #333;
                    span{
                        font-size: 14px;
                        font-weight: 500;
                        font-style: italic;
                        position: relative;
                        top: -7px;
                    }
                }
            }
            .imageBox2{
                margin-bottom: 10px;
            }
            .imageBox3{
                margin-bottom: 10px;
                .image{
                    img{
                        width: 100%;
                    }
                }
                .content{
                    p{
                        font-weight: 500;
                        font-size: 18px;
                        width: 80%;
                        font-style: italic;
                        line-height: 30px;
                    }
                }
            }
        }
        .top3TakeWay{
            margin-top: 30px;
            .title{
                margin-bottom: 30px;
                h3{
                    font-size: 40px;
                    color: #333;
                    font-weight: 600;
                    line-height: 44.1px;
                    text-decoration: underline;
                }
            }
            .takeawyItem{
                margin-bottom: 30px;
                h4{
                    font-size: 25px;
                    font-style: italic;
                    font-weight: 500;
                    margin-bottom: 15px;
                    span{
                        font-weight: 700;
                        font-style: normal;
                    }
                }
                p{
                    font-size: 18px;
                    color: #333333;
                    line-height: 28.8px;
                    margin-bottom: 20px;
                    span.bold{
                        font-weight: 700;
                    }
                }
                .imageBox4{
                    margin-bottom: 10px;
                }
                .quoteBox4{
                    padding-left: 50px;
                    margin-bottom: 10px;
                    p{
                        font-size: 18px;
                        color: #333333;
                        line-height: 28.8px;
                        font-style: italic;
                        width: 60%;
                    }
                }
                .quoteBox5{
                    padding-left: 50px;
                    margin-bottom: 10px;
                    p{
                        font-size: 18px;
                        color: #333333;
                        line-height: 28.8px;
                        font-style: italic;
                        width: 80%;
                    }
                }
                .imageBox5{
                    margin-bottom: 10px;
                }
                .quoteBox6{
                    padding-left: 50px;
                    margin-bottom: 10px;
                    p{
                        font-size: 18px;
                        color: #333333;
                        line-height: 28.8px;
                        font-style: italic;
                        width: 80%;
                    }
                }
                .imageBox6{
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .quoteBox7{
                    padding-left: 50px;
                    margin-bottom: 10px;
                    p{
                        font-size: 18px;
                        color: #333333;
                        line-height: 28.8px;
                        font-style: italic;
                        width: 80%;
                    }
                }
            }
            .conslusion{
                margin-top: 40px;
                .title{
                    h3{
                        font-size: 40px;
                        color: #333;
                        font-weight: 600;
                        line-height: 44.1px;
                        text-decoration: underline;
                        margin-bottom: 20px;
                    }
                    h4{
                        font-size: 25px;
                        text-align: left;
                        line-height: 35px;
                    }
                }
                p{
                    font-size: 18px;
                    color: #333333;
                    line-height: 28.8px;
                    margin-bottom: 20px;
                    a{
                        text-decoration: underline;
                        color: #428bca;
                    }
                }
                h5{
                    font-size: 20px;
                    color: #333;
                    margin-bottom: 15px;
                    font-weight: 600;
                }
                .imageBox9{
                    margin-top: 26px;
                    margin-bottom: 20px;
                }
                ul{
                    padding-left: 40px;
                    margin-bottom: 15px;
                    li{
                        font-size: 18px;
                        color: #333333;
                        list-style: disc;
                        margin-bottom: 5px;
                    }
                }
                .quoteBox10{
                    padding-left: 40px;
                    p{
                        font-size: 18px;
                        color: #333333;
                        width: 80%;
                        font-style: italic;
                    }
                }
                .imageBox10{
                    margin-bottom: 15px;
                }
            }
        }
        .videoArea{
            margin-top: 30px;
            .videoBox{
                a{
                    img{
                        width: 100%;
                        border-radius: 4px;
                    }
                }
            }
            >a{
                display: inline-block;
                margin-top: 30px;
                background: #C51314;
                color: #fff;
                width: 30%;
                font-weight: 700;
                padding: 16px 0px;
                border-radius: 4px;
                font-size: 20px;
                box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
                &:hover{
                    background: $titleColor;
                }
            }
        }
        .footNoteArea{
            margin-top: 40px;
            .line_1{
                display: inline-block;
                height: 2px;
                width: 130px;
                background: #333;
                margin-bottom: 20px;
            }
            .note_item{
                margin-bottom: 10px;
                p{
                    color: #428bca;
                    font-weight: 500;
                    font-size: 10px;
                }
                a{
                    display: inline-block;
                    color: #428bca;
                    text-decoration: underline;
                }
            }
        }
        .disclaimer{
            margin-top: 40px;
            p{
                font-size: 16px;
                color: #333;
                line-height: 25.6px;
            }
        }
    }
}

/*-- start footer area --*/
#footer{
    padding: 50px 0px;
    background: #585F69;
    .footerToparea{
        h3{
            font-weight: 500;
            font-size: 27px;
            color: #DADADA;
            line-height: 40.2px;
        }
        p{
            font-size: 16px;
            color: #DADADA;
            line-height: 25px;
            font-weight: 500;
            margin-top: 5px;
        }
    }
    .copyrightarea{
        margin-top: 50px;
        p{
            font-size: 16px;
            color: #DADADA;
            line-height: 25px;
        }
        ul{
            margin-top: 10px;
            li{
                display: inline-block;
                margin: 0px 5px;
                a{
                    color: #11225D;
                    &:hover{
                        color:#DADADA;
                        text-decoration: underline; 
                    }
                    span{
                        color: #DADADA;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}











































